<article class="skill-info">
	<header class="skill-info__header">
		<span class="skill-info__header-block">
			<h1 class="skill-info__header-text">
				<span class="material-symbols-rounded skill-info__header-text-icon">
					public
				</span>
			</h1>
			<h1 class="skill-info__header-text">I am</h1>
			<h1 class="skill-info__header-text skill-info__header-text--highlighted">java-{{ webAttribute }}<div class="skill-info__cursor">|</div></h1>
		</span>
	</header>
	<section class="skill-info__text">
		<p>Java, a technological cornerstone since its inception, ignited my journey as a developer. Now composing intricate code symphonies from small projects, I architect innovative solutions driven by Java's dynamic essence and versatility.</p>
		<p>As a Java enthusiast, I'm invigorated by its dynamic essence and crafting software that dances across platforms. My path in Java development led to a holistic role in software engineering, where I architect end-to-end solutions, harnessing Java's prowess for innovative answers to evolving tech challenges.</p>
	</section>
<!--	<section class="skill-info__buttons">-->
<!--		<a href="https://behance.net/Dartegnian" class="skill-info__button">-->
<!--			<span class="material-symbols-rounded skill-info__button-icon">-->
<!--				palette-->
<!--			</span>-->
<!--			View my designs-->
<!--		</a>-->
<!--		<a href="https://blog.dartegnian.com" class="skill-info__button">-->
<!--			<span class="material-symbols-rounded skill-info__button-icon">-->
<!--				import_contacts-->
<!--			</span>-->
<!--			Read my blog-->
<!--		</a>-->
<!--	</section>-->
</article>
