<article class="resume-request">
	<div class="resume-request__icon-container">
		<span class="resume-request__icon material-symbols-rounded">
			description
		</span>
	</div>
	<section class="resume-request__text">
		<span>There are some aspects of my career that are not included in this portfolio, for the sake of my privacy and for brevity. My full details are available on my resume. The ommitted details are:</span>
		<ul>
			<li>Current workplace</li>
			<li>Previous employments</li>
			<li>Primary tasks in all my employments</li>
			<li>Stacks and tech per employment</li>
			<li>Educational background</li>
			<li>A phone number you may contact</li>
		</ul>
		<span>Want a resume instead? Click the button below to download my resume.</span>
    <a (click)="downloadFile()" class="resume-request__email-button">
    <span class="material-symbols-rounded">
				download
			</span>
      Download Resume
    </a>
	</section>
</article>
